{% extends "caddymaster/base_generic.html" %}

{% block content %}
    <h3>Dashboard</h3>
    <p class=""><a href="{% url 'caddymaster:new_teetime'%}">New TeeTime</a></p>
    <table>
        <thead>
            <tr>
                <th>Players</th>
                <th>Caddy</th>
                <th>Time</th>
                <th>Pos</th>
                <th>Flight</th>
            </tr>
        </thead>
        <tbody>
            {% for tee_time in teetime_list %}
            <tr>
                <td>{{ tee_time.golfers }}</td>
                <td>{{ tee_time.caddy }}</td>
                <td>{{ tee_time.time }}</td>
                <td>{{ tee_time.position }}</td>
                <td>{{ tee_time.flight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if teetime_list %}
     {% else %}
        <p>All quit on the first tee</p>
    {% endif %}
{% endblock %}