{% extends "loopers/base_generic.html" %}

{% block title %}Log In - {{ block.super }}{% endblock %}

{% block content %}
    <h3>Login</h3>
    {% if form.errors %}
        <p>Your username and password did not match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login
                with an authorized account</p>
        {% else %}
            <p>Please login to see this page</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <div class="my-button">
            <input type="submit" value="Login" />
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

      <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

{% endblock %}