
{% extends "loopers/base_generic.html" %}

{% block title %}Friends - {{ block.super }}{% endblock %}

{% block content %}
    <div class="main-content">
        <p>
            Welcome and thank you for visiting CaddyShackHub! The premier site for all things caddy related.
            As a former caddy I would record all my loops in a spreadsheet and compete with my friends to see
            who could get the most loops.
            <br>
            Now as a software engineer, I've taken that idea and made an app to
            help all caddies record their loops and share them with their friends!
        </p>
    </div>
{% endblock %}