<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Loop Count{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="{% static 'css/bigstyles.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'css/smallstyles.css' %}">
</head>
<body>
    <div>
        <h1>My Loop Count</h1>
        <div class="main-content">
            <div class="sidebar">
            {% block sidebar %}
                <div class="sidebar-nav">
                    <div class="sidebar-nav-links">
                        <p class="menu-link"><a href="{% url 'loopers:index' %}">Home</a></p>
                        <p class="menu-link"><a href="{% url 'loopers:loops'%}">Loops</a></p>
                    </div>
                {% if user.is_authenticated %}
                    <div class="sidebar-nav-links">
                        <p class="menu-link"><a href="{% url 'loopers:new_loop'%}">New Loop</a></p>
                        <p class="menu-link"><a href="{% url 'loopers:friends'%}">Friends</a></p>
                    </div>
                    <div class="sidebar-nav-links">
                        <p class="menu-link">{{ user.get_username }}</p>   
                        <p class="menu-link"><a href="{% url 'loopers:settings'%}">Settings</a></p>
                        <form id="logout-form" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">Log out</button>
                        </form>
                    </div>
                 {% else %}
                    <div class="sidebar-nav-links">
                        <p class="menu-link"><a href="{% url 'login'%}?next={% url 'loopers:index'%}">Login</a></p>
                        <p class="menu-link"><a href="{% url 'loopers:register' %}">Sign up</a></p>
                    </div>
                 {% endif %}
                </div>
            {% endblock %}
            </div>
            <div class="the-center-block">{% block content %}{% endblock %}</div>
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</body>
</html>