{% extends "loopers/base_generic.html" %}

{% block title %}Password Change - {{ block.super }}{% endblock %}

{% block content %}
    <h3>Change email</h3>
    <p>Please enter your current password and the new email</p>
    <div class="change_email">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post">
        {% csrf_token %}
            {{ form.as_p }}
            <div class="my-button">
                <button type="submit">Change email</button>
            </div>
        </form>
    </div>
{% endblock %}