.main-content {
    display: block
}

a {
    color: #00cc95
}

.sidebar-nav {
    display: flex;
    justify-content: space-around;
}

.sidebar-nav-links {
    width: 10rem;
    height: 8rem;
}

.menu-link {
    margin: 1.75rem;
    border: #111;
    border-style: solid;
}

h3 {
    padding-top: 1.25rem;
}

ul {
    padding: 0;
}

ul .main-content {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

.main-content {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.my-button {
    padding-top: 1.33rem;
    text-align: center;
}
