.main-content {
    display: block
}

a {
    color: #00cc95
}

.sidebar-nav {
    padding-left: 10%;
}

.sidebar-nav-settings {
    text-align: right;
}

.menu-link {
    max-width: 30%;
    border: #111;
    border-style: solid;
}

.menu-link-logged-in {

}

.main-content {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}